.bg-grey
  background: $grey !important

.bg-grey-100
  background: $grey-100 !important

.bg-grey-200
  background: $grey-200 !important

.bg-grey-300
  background: $grey-300 !important

.bg-grey-400
  background: $grey-400 !important

.bg-grey-500
  background: $grey-500 !important

.bg-grey-600
  background: $grey-600 !important

.bg-grey-700
  background: $grey-700 !important

.bg-grey-800
  background: $grey-800 !important

.bg-grey-900
  background: $grey-900 !important

.bg-red
  background: $red !important

.bg-red-100
  background: $red-100 !important

.bg-red-200
  background: $red-200 !important

.bg-red-300
  background: $red-300 !important

.bg-red-400
  background: $red-400 !important

.bg-red-500
  background: $red-500 !important

.bg-red-600
  background: $red-600 !important

.bg-red-700
  background: $red-700 !important

.bg-red-800
  background: $red-800 !important

.bg-red-900
  background: $red-900 !important


.bg-orange
  background: $orange !important

.bg-orange-100
  background: $orange-100 !important

.bg-orange-200
  background: $orange-200 !important

.bg-orange-300
  background: $orange-300 !important

.bg-orange-400
  background: $orange-400 !important

.bg-orange-500
  background: $orange-500 !important

.bg-orange-600
  background: $orange-600 !important

.bg-orange-700
  background: $orange-700 !important

.bg-orange-800
  background: $orange-800 !important

.bg-orange-900
  background: $orange-900 !important


.bg-yellow
  background: $yellow !important

.bg-yellow-100
  background: $yellow-100 !important

.bg-yellow-200
  background: $yellow-200 !important

.bg-yellow-300
  background: $yellow-300 !important

.bg-yellow-400
  background: $yellow-400 !important

.bg-yellow-500
  background: $yellow-500 !important

.bg-yellow-600
  background: $yellow-600 !important

.bg-yellow-700
  background: $yellow-700 !important

.bg-yellow-800
  background: $yellow-800 !important

.bg-yellow-900
  background: $yellow-900 !important


.bg-green
  background: $green !important

.bg-green-100
  background: $green-100 !important

.bg-green-200
  background: $green-200 !important

.bg-green-300
  background: $green-300 !important

.bg-green-400
  background: $green-400 !important

.bg-green-500
  background: $green-500 !important

.bg-green-600
  background: $green-600 !important

.bg-green-700
  background: $green-700 !important

.bg-green-800
  background: $green-800 !important

.bg-green-900
  background: $green-900 !important


.bg-blue
  background: $blue !important

.bg-blue-100
  background: $blue-100 !important

.bg-blue-200
  background: $blue-200 !important

.bg-blue-300
  background: $blue-300 !important

.bg-blue-400
  background: $blue-400 !important

.bg-blue-500
  background: $blue-500 !important

.bg-blue-600
  background: $blue-600 !important

.bg-blue-700
  background: $blue-700 !important

.bg-blue-800
  background: $blue-800 !important

.bg-blue-900
  background: $blue-900 !important


.bg-purple
  background: $purple !important

.bg-purple-100
  background: $purple-100 !important

.bg-purple-200
  background: $purple-200 !important

.bg-purple-300
  background: $purple-300 !important

.bg-purple-400
  background: $purple-400 !important

.bg-purple-500
  background: $purple-500 !important

.bg-purple-600
  background: $purple-600 !important

.bg-purple-700
  background: $purple-700 !important

.bg-purple-800
  background: $purple-800 !important

.bg-purple-900
  background: $purple-900 !important



